.card-media-library {
	height: 100%;

	.card-img-top {
		background-color: rgba($color-black, 0.05);
		padding-bottom: 50%;
		position: relative;

		img,
		i {
			color: $color-light;
			font-size: 32px;
			left: 50%;
			max-height: 100%;
			max-width: 100%;
			position: absolute;
			top: 50%;
			transform: translate(-50%, -50%);
		}
	}
}
