$color-black: #000000;
$color-white: #ffffff;
$color-danger: #ff4136;
$color-dark: #343a40;
$color-light: #818896;
$color-primary: #007bff;
$color-text: #212529;

$sidebar-width: 260px;

$font-size-base: 1rem;
$spacer: 1rem;
$gap: 30px;
